
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    color: #333;
    padding: 30px 20px;
    box-shadow: 0 4px 9px rgba(0.9, 0.9, 0.9, 9);
}

.footerContent, .footerSection {
    flex-basis: 30%;
    text-align: center;
}

.title {
    font-size: 1.8rem;
    color: black;
    margin-bottom: 10px;
}

.description {
    font-size: 1rem;
    opacity: 0.8;
    margin-bottom: 20px;
}

.heading {
    font-size: 1.3rem;
    color: #000000;
    margin-bottom: 15px;
}

.contactInfo {
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.link {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: #00bcd4;
}

.socialLinks {
    font-size: 1.2rem;
}

.socialIcon {
    font-size: 1.5rem;
    color: #333;
    margin-right: 15px;
    transition: color 0.3s ease;
}

.socialIcon:hover {
    color: #aa1515;
}
